---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

<p>Work in progress.<br>  
During the ECODigital project I am going to improve my coding skills via courses and self-learning, so keep an eye on my github profile ! ;) <br> 
This first approach to Github pages and my portfolio was a fun learning process. I learned a bit more about Markdown and html sintax and files.</p>


{% include base_path %}


{% for post in site.portfolio reversed %}
  {% include archive-single.html %}
{% endfor %}